<form class="ui-filterable">
    <input id="map-placesearch-input" data-type="search" placeholder="<%- Util.i18n("search") %>">
</form>
<ul id="map_placesearch" class="map-placesearch" data-role="listview" data-inset="true" data-filter="true" data-input="#map-placesearch-input"></ul>
