
<form>
<ul data-role="listview">    
<!--
    <li class="optionpanel_search"><%- Util.i18n("search_place") %></li>

    <li><a id="optionpanel_search" href="#"><%- Util.i18n("search_place") %></a></li>
    <li data-role="list-divider"></li>

    <li><a href="#dayplan"><%- Util.i18n("day_plan") %></a></li>
-->

    <li data-role="list-divider"></li>
    <li><a href="#"><%- Util.i18n("log_out") %></a></li>
</ul>
</form>
