       
<li><a href="#" class="maplistitem" id="<%= model.id %>">
    <h2><%- model.get('title') %></h2>
    <!--
    <p><%- model.get('locationProperty') %></p>
    -->
    <p><%- model.get('streetAddress') %></p>
    </a>
</li>
